.singleAccordion {
  width: 30%;
  margin: auto;
  padding: 2rem;
  font-family: sans-serif;
  transition: all 0.5s ease;
}
.accordion_title {
  background: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 1rem;
}
.icon {
  background: #000;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion_body {
  background: lightcyan;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.4rem;
}
